:root {
	/* Primary */
	--dark-cyan: hsl(158, 36%, 37%);
	--darker-cyan: hsl(158, 56%, 17%);
	--cream: hsl(30, 38%, 92%);

	/* Neutral */
	--darkest-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);

	/* Font Families */
	--fraunces: 'Fraunces', serif;
	--montserrat: 'Montserrat', sans-serif;
}
